.bg{
  background: url('../images/background2.jpg') no-repeat center fixed;
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
}

.form-container{
  color:rgb(5, 163, 255);
  padding: 50px 60px;
  margin-top: 20vh;
  box-shadow: -1px 4px 26px 11px rgba(8, 255, 255, 0.75);
}
